<footer class="footer block-cat-footer block-footer1 bg-primary section-60 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center text-md-left">
                  <a  style="text-decoration: none;"href="index.html">
          <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch</span>Cards</div>  
              </a>
          
       
                </div>
                
 </div>
                 
      <div class="row px-0">
        <div class="col-md-6">
          <div class="copyright opacity-8">
                  &copy; 2020 scratchCards. All rights reserved. </div>
           
        </div>
        <div class="col-md-6 text-right d-none d-md-block"> <img data-src="/assets/wp-includes/images/cards_all.svg" alt="cards" class="lazy" /> </div>
      </div>
    </div>
  </footer>