<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title></title>
<title></title>
<link rel="stylesheet" href="css/normalize.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<link rel="stylesheet" href="css/scratchcard.css">
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">

    <div id="sidebar-wrapper"  style="display:none;">
        <div class="sidebar-content">
     <a href="index.html" class="sidebar-logo btn-block mt-4"> 
     <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Coupon</span>Codes</div>   </a>    
     <div class="sidebar-heading text-center  mt-4">
        <button class="navbar-toggler menu-toggle">
           <div class="fal fa-bars text-light">&nbsp;</div>
        </button>
        <hr>
     </div>
             <ul class="navbar-nav">
             <li class="nav-item">
                <a href="index.html" class="nav-link">Home</a>
               
             </li>
             
             
             <li class="nav-item"><a href="product.html" class="nav-link">Product</a></li>
         
             
             
                   <li class="nav-item"><a href="prize.html" class="nav-link">Prize</a></li>
                     
         <li class="nav-item"><a href="how-to-win.html" class="nav-link">How to win</a></li>
          
             
         <li class="nav-item"><a href="winner-list.html" class="nav-link">Winner List</a></li>
        <li class="nav-item"><a href="terms-and-condition.html" class="nav-link">Terms and condition</a></li>
              
     <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
             
             
          </ul>
            
        
        
      
         
         </div></div>
  
  <main id="page-content-wrapper">
    
    <header class="elementor_header header3  b-bottom fixed-top  bg-transparent" >
      <nav class="elementor_mainmenu bg-dark " style="font-size: 13px;
      font-weight: normal;
      padding: 12px 0 8px 0; ">
        <div class="container">
          <div class="row">
            <div class="col-md-10 pr-0"> 		
              <ul class="list-inline seperator mb-0">
              <li class="list-inline-item"><span class="text-white mr-2" >Support Number :</span><a style="text-decoration: none;"  class="text-white mr-3" href="tel:+91-7074198906"> +91-7074198906</a></li>        
                
              <li class="list-inline-item"> <span class="text-white mr-2" >What’s App Number :</span><a style="text-decoration: none;"  class="text-white mr-3" href="tel:+91-9873856774">+91-9873856774</a></li> 
              <li class="list-inline-item"> <span class="text-white mr-2" >Email Us :</span><a style="text-decoration: none;"  class="text-white mr-3" href="mailto: shoppingonlie23135@gmail.com">shoppingonlie23135@gmail.com</a></li>                                         
          </ul>         
               
           </div>
            <div class="col d-none d-md-block">
              <ul class="list-inline p-0 mb-0 float-right seperator">
              
                          
                <li class="list-inline-item dropdown w  hide-mobile"> <a href="#" class="dropdown-toggle noc text-white mr-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fal fa-dollar-sign">&nbsp;</span></a>
                  <div class="dropdown-menu">
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> USD</a>
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-pound-sign float-right mt-2"></i> GBP</a>
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-euro-sign float-right mt-2"></i> EUR</a>
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> CAD</a>
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> AUD</a>
                                  <a class="dropdown-item" href="javascript:void(0)"> <i class="fal fa-yen-sign float-right mt-2"></i> JPY</a>
                                </div>
                </li>
                
                        
                 
                          <li class="list-inline-item"> 
                 
                <a style="text-decoration: none;" class="text-white mr-3" href="signin.html"> Sign In</a>
               
                 </li>
                                              <li class="list-inline-item pr-0">
                  <div class="socials">
                                                                          </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    
     <nav class="elementor_mainmenu navbar navbar-expand-lg has-sticky py-2 navbar-dark mt-100" >
      
      
         <div class="container">
         
            <a class="navbar-brand" href="index.html"> 
            <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch</span> Cards</div>  
                   <div class='textlogo navbar-brand-dark'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch </span>Cards</div>         </a>
            
            <div class="collapse navbar-collapse main-menu justify-content-end">
                   <ul class="navbar-nav">
              <li class="nav-item">
                 <a href="index.html" class="nav-link">Home</a>
                
              </li>
              
              
              <li class="nav-item ">
           <a class="nav-link " href="product.html" >
            Products      </a>
         
         </li>
          
              
              
         <li class="nav-item ">
          <a class="nav-link " href="prize.html" >
       Prize   </a>
        
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="how-to-win.html" >
      How to win   </a>
        
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="winner-list.html" >
      Winner List  </a>
        
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="check-status.html" >
     Check Status </a>
        
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="terms-and-conditions.html" >
     Terms and Conditions </a>
        
        </li>
  
                      
               
         
         
              
           <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
              
              
           </ul>
                </div>  
                     
                     <button class="navbar-toggler menu-toggle tm border-0"><span class="fal fa-bars">&nbsp;</span></button>
                     
         </div>
      </nav> 
    
       
   </header>
  
<section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="./wp-includes/images/status.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-white font-weight-bold textsize-xxl">Check <span class="font-weight-bold text-uppercase">Status</span></div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>
 
 <section id="subscribe2" class="position-relative bg-white block-cat-subscribe block-subscribe2 section-100 " >
    
    
 
    <div class="overlay-innerxx"></div>   
    <div >     
    <div class="container bg-content">
      
            
                 <div class="row align-items-center wrapper "> 
                     <div class="col-md-12">
                         <div class="subscribe-form-wrapper text-light">
                             
                                         
             <div class="text-center text-md-center">
       
       <h2 class="mb-2 font- text-dark font-weight-bold text-center">To Check your Status</h2>
             
                   <p class="lead text-dark font-text-300 mb-4 ">Enter Your Mobile Number</p> 
                   
  
  <form  action="scratch.html" type="post" name="myForm" onsubmit="return validateForm()" >
  
  <div class="input-group">										 
    <input type="number" class="form-control" name="number" placeholder="Phone" >
  <div class="input-group-append">
  
  <button  type="submit" value="Submit"   class="btn btn-primary px-3">Check</button>
  <script>
   
   function validateForm() {
    var x = document.forms["myForm"]["number"].value;
    if (x == "") {
      alert("Number must be filled out");
      return false;
    }
  }
  </script>
  </div>
  
     
                         
              
             
             </div>  
             </form>
               
          
       
                                   
                              
                                
  
  
  
  
                             
                         </div>
                     </div>
                     
                     
                 </div>
             </div> 
  
  
      </div>  
     
    
  </section>

<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>

<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>

<style>
.testomonial-2{
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
}
.testomonial-2-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.testomonial-2-img img{
    width: 100%;
    height: auto;
}

</style>


 
<footer class="footer block-cat-footer block-footer1 bg-primary section-60 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center text-md-left">
                <a  style="text-decoration: none;"href="index.html">
        <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch</span>Cards</div>  
            </a>
        
     
              </div>
              

    
 
    </div>
               
    <div class="row px-0">
      <div class="col-md-6">
        <div class="copyright opacity-8">
                &copy; 2020 scratchCards. All rights reserved.          </div>
      </div>
      <div class="col-md-6 text-right d-none d-md-block"> <img data-src="./wp-includes/images/cards_all.svg" alt="cards" class="lazy" /> </div>
    </div>
  </div>
</footer>
</main>
</div>

<!-- end page -->

 
<!-- load icons -->


 




 
<script src="wp-content/themes/CP10/_coupon/js/jquery.zclip.js"></script>

<div class="model-coupon-wrap shadow hidepage" style="display:none;">
  <div class="model-coupon-wrap-overlay"></div>
  <div class="model-coupon-item">
      <div class="model-coupon-container">
      <div class="model-coupon">

 
<div class="p-lg-5 p-3 bg-light border">
 
<p class="text-muted">
Use this code at <u><a href="#" id="popstoredata" rel="nofollow" target="_blank" class="text-dark font-weight-bold">store name</a></u>
</p>
 

<div id="savedc" style="display:none;">
<div class="text-success py-3"><i class="fa fa-spinner fa-spin fa-1x mr-2"></i> Code saved to clipboard. Loading store page, please wait...</div>
</div>
  
<div class="couponbutton clearfix" id="couponsavebutton">
   <div class="copybtn text-center font-weight-bold" id="copybtn">xxx</div>
   <button class="button button-primary bg-warning js-copy px-4 rounded-0 font-weight-bold text-uppercase" data-clipboard-target="#copybtn" style="cursor:pointer;" id="copybtntxt"></button>
</div>
 
  

<script>
function loadcbox(a){

	jQuery(".model-coupon-wrap").fadeIn(400);
	console.log("asd");
 							
	var $t 			= jQuery(a);
	var couponid 	= $t.data("couponid");
	var code 		= $t.data("code");
	var title 		= $t.data("title");
	var storename 	= $t.data("storename");
	var storelink 	= $t.data("storelink");	
	 	
	jQuery(".model-coupon-container h3").text(title);
	jQuery(".model-coupon-container #popstoredata").text(storename).attr('href',storelink);	
	
	if(code == ""){
		jQuery('.copybtn').removeClass('blurme');	
		jQuery('.copybtn').html("No Coupon Needed!");	
		jQuery('#copybtntxt').html("Visit Website");	
	}else{		
		jQuery('.copybtn').html(code);	
		jQuery('.copybtn').addClass('blurme');	
		jQuery('#copybtntxt').html("View &amp; Copy");	
	}
	 
	var clipboard = new ClipboardJS('.js-copy');
	clipboard.on('success', function(e) {	
		jQuery('#copybtn').removeClass('blurme');	
		jQuery.ajax({	
			type: "POST",
			url: "https://cp10.premiummod.com/",		
			data: {
				action: "update_usage",						
				pid: couponid,						
			},
			success: function(response) {	
				
				if(code == ""){				
					window.location = 'out/172/link/index.html'; 				
				}else{
								
					jQuery('#savedc').show();
					
					setTimeout(function(){
						window.location = 'out/172/link/index.html'; 
					}, 3000);
				
				}
						 
				
			},
			error: function(e) { 
			
			},
		});
	});
				
}

                         
</script>
      </div>
            <div class="card-body">
        <h3>Title</h3>
        <div class="address text-muted small letter-spacing-1"></div>
        <div class="model-coupon-close bg-primary text-center" onclick="jQuery('.model-coupon-wrap').fadeOut(400)"><i class="fal fa-times">&nbsp;</i></div>
      </div>
          </div>
  </div>
  
  </div>
</div>

 

<script>function doratebutton(div, id, type){

 	jQuery('#'+div+' .rating'+type).html("<i class='fas fa-spinner fa-spin'></i>");
	ajax_saverating(id ,type, div+''+type); 
	setTimeout(function(){  
		jQuery('#'+div+' .rating'+type).html("<i class='fa fa-check'></i>");   
	}, 1000); 
 
}
</script>
<script>

jQuery(document).on('click', '.btn-gocoupon' ,function(){
	
		var couponid =  jQuery(this).attr("data-couponid");
		var nextlink =  jQuery(this).attr("data-nextlink");
		
		if(nextlink == ""){
				
		nextlink = "index.html";
		
		}		
		
		setTimeout(function(){
		
			window.location.href='https://cp10.premiummod.com/out/' + couponid + '/link/';	
		
		}, 2000);
		
		var win = window.open(  nextlink + '?__sid=' + couponid + '',  '_blank' );						
		
		this.window.focus();  
		
});
</script>
<script src="wp-content/themes/CP10/framework/js/js.bootstrap14ef.js?ver=10.1.5"></script>
<script src="wp-content/themes/CP10/framework/js/js.plugins14ef.js?ver=10.1.5"></script>
<script src="wp-content/themes/CP10/framework/js/js.plugins-typeahead14ef.js?ver=10.1.5"></script>
<script src="wp-content/themes/CP10/framework/js/js.plugins-countdown14ef.js?ver=10.1.5"></script>
<script src="wp-content/themes/CP10/framework/js/js.custom14ef.js?ver=10.1.5"></script>
<script src="wp-content/themes/CP10/framework/js/js.search14ef.js?ver=10.1.5"></script>
<script src="wp-includes/js/wp-embed03ec.js?ver=5.3.4"></script>
<!--map-modal -->
<div class="map-modal-wrap shadow hidepage" style="display:none;">
  <div class="map-modal-wrap-overlay"></div>
  <div class="map-modal-item">
    <div class="map-modal-container">
      <div class="map-modal">
        <div id="singleMap"  data-latitude="54.2890174" data-longitude="-0.4024484"></div>
      </div>
      <div class="card-body">
        <h3><a href="#" class="text-dark">Title</a></h3>
        <div class="address text-muted small letter-spacing-1"></div>
        <div class="map-modal-close bg-primary text-center"><i class="fal fa-times">&nbsp;</i></div>
      </div>
    </div>
  </div>
</div>
<!--map-modal end -->
<!--map-locationMap -->
<div class="location-modal-wrap shadow hidepage" style="display:none;">
  <div class="location-modal-wrap-overlay"></div>
  <div class="location-modal-item">
    <div class="location-modal-container">
      <div class="location-modal">
        <div id="locationMap"></div>
      </div>
      <div class="card-body">
        <h3>Set Current Location</h3>
        <input type="text"   placeholder="Enter country, city or zipcode."  id="location-setaddress" class="form-control" style="margin-right:50px;">
        <input type="hidden" id="location-mylog" value="-60.1" />
        <input type="hidden" id="location-mylat" value="30.7" />
        <input type="hidden" id="location-country" value="" />
        <input type="hidden" id="location-zip" value="" />
        <div class="location-modal-close bg-primary text-center" style="top:10px; right:10px;"><i class="fal fa-times">&nbsp;</i></div>
      </div>
    </div>
  </div>
</div>
<!--map-modal end -->
<!--payment modal -->
<div class="payment-modal-wrap shadow hidepage" style="display:none;">
  <div class="payment-modal-wrap-overlay"></div>
  <div class="payment-modal-item">
    <div class="payment-modal-container">
      <div id="ajax-payment-form"></div>
      <div class="card-body">
        <h3>$0</h3>
        <div class="payment-modal-close bg-primary text-center"><i class="fal fa-times">&nbsp;</i></div>
      </div>
    </div>
  </div>
</div>
<!--payment end -->
 
<noscript id="deferred-styles">

<link rel="stylesheet" type="text/css" href="wp-content/themes/CP10/framework/css/_bootstrap.css" rel="preload"/>
<link rel="stylesheet" type="text/css" href="wp-content/themes/CP10/framework/css/css.premiumpress.css" rel="preload"/>


 
<style>.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; } .block-header__title{margin-bottom:0;font-size:20px;} .block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;} .block-header__title+.block-header__divider{margin-left:16px;} @media (max-width:767px){ .block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;} } .testomonial-2{ padding-left: 80px; position: relative; padding-top: 10px; } .testomonial-2-img{ width: 70px; height: 70px; border-radius: 50%; overflow: hidden; position: absolute; left: 0; top: 0; } .testomonial-2-img img{ width: 100%; height: auto; } .bg-primary, .bg-primary:hover,.bg-primary:focus, a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover, .badge-primary { background:#000000 !important; } .btn-primary, .btn-primary:hover { color: #fff; background-color: #000000 !important; border-color: #000000 !important; } .text-primary, .filters_col .distance span { color: #000000 !important; } .btn-outline-primary { color: #000000 !important; border-color: #000000 !important; } .btn-outline-primary:hover { background:none !important; } .text-primary a { color: #000000 !important; } .bg-secondary, .bg-secondary:hover, .bg-secondary:focus, a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover, .irs-bar { background-color:#484c58 !important; } .btn-secondary, .btn-secondary:hover, .btn-secondary:focus { color: #fff; background-color: #484c58 !important; border-color: #484c58 !important; } .text-secondary { color: #484c58 !important; } .text-secondary a { color: #484c58 !important; } .btn-outline-secondary { color: #484c58 !important; border-color: #484c58 !important; } .btn-outline-secondary:hover { background:none !important; }</style> 

 
</noscript>
<script>

var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);

</script>

<script>
var ajax_site_url = "index.html";  
var ajax_framework_url = "wp-content/themes/CP10/index.html"; 
var ajax_googlemaps_key = "AIzaSyBlsfP1rS_exKkGdU4ls7syZK66iv5d7Sg"; 



jQuery(window).load(function () {
	
setTimeout(
  function() 
  {
   
	jQuery("#wrapper").addClass('d-flex').removeClass('hidepage').addClass('preload-hide');
	
	jQuery('#page-loading').html('').hide();
	 
	jQuery(".hidepage").each(function() {
	  jQuery( this ).removeAttr("style").removeClass('hidepage').addClass('preload-hide');
	});
	
	tinyScroll();	
	 
	  // Trigger window resize event to fix resize size issues.
	  // Don't use jquery trigger event since that only triggers
	  // methods hooked to events, and not the events themselves.
	  if ( typeof( Event ) === 'function' ) {
		window.dispatchEvent( new Event( 'resize' ) );
	  } else {
		var event = window.document.createEvent( 'UIEvents' );
		event.initUIEvent( 'resize', true, false, window, 0 );
		window.dispatchEvent( event );
	  }
  
   
  }, 1000);

});

</script>
<script src="js/scratchcard.js"></script>







</body>

</html>