<header class="elementor_header header3  b-bottom fixed-top  bg-transparent" >
    <nav class="elementor_mainmenu bg-dark " style="font-size: 13px;
    font-weight: normal;
    padding: 12px 0 8px 0; ">
      <div class="container">
        <div class="row">
          <div class="col-md-10 pr-0"> 		
              <ul class="list-inline seperator mb-0">
              <li class="list-inline-item"><span class="text-white mr-2" >Support Number :</span><a style="text-decoration: none;"  class="text-white mr-3" href="/tel:+91-7074198906"> +91-7074198906</a></li>        
                
              <li class="list-inline-item"> <span class="text-white mr-2" >What’s App Number :</span><a style="text-decoration: none;"  class="text-white mr-3" href="/tel:+91-9873856774">+91-9873856774</a></li> 
              <li class="list-inline-item"> <span class="text-white mr-2" >Email Us :</span><a style="text-decoration: none;"  class="text-white mr-3" href="/mailto: shoppingonlie23135@gmail.com">shoppingonlie23135@gmail.com</a></li>                                         
          </ul>         
               
           </div>
          <div class="col d-none d-md-block">
            <ul class="list-inline p-0 mb-0 float-right seperator">
            
                        
              <li class="list-inline-item dropdown w  hide-mobile"> <a href="/#" class="dropdown-toggle noc text-white mr-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fal fa-dollar-sign">&nbsp;</span></a>
                <div class="dropdown-menu">
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> USD</a>
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-pound-sign float-right mt-2"></i> GBP</a>
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-euro-sign float-right mt-2"></i> EUR</a>
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> CAD</a>
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-dollar-sign float-right mt-2"></i> AUD</a>
                                <a class="dropdown-item" href="/javascript:void(0)"> <i class="fal fa-yen-sign float-right mt-2"></i> JPY</a>
                              </div>
              </li>
              
                      
               
                        <li class="list-inline-item"> 
               
              <a style="text-decoration: none;" class="text-white mr-3" href="/signin"> Sign In</a>
             
               </li>
                                            <li class="list-inline-item pr-0">
                <div class="socials">
                                                                        </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  
   <nav class="elementor_mainmenu navbar navbar-expand-lg has-sticky py-2 navbar-dark mt-100" >
    
    
       <div class="container">
       
          <a class="navbar-brand" href="/"> 
          <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch</span> Cards</div>  
                 <div class='textlogo navbar-brand-dark'><i class='fal fa-shopping-bag ml-2'></i> <span>Scratch </span>Cards</div>         </a>
          
          <div class="collapse navbar-collapse main-menu justify-content-end">
                 <ul class="navbar-nav">
            <li class="nav-item">
               <a href="/" class="nav-link">Home</a>
              
            </li>
            
            
            <li class="nav-item ">
         <a class="nav-link " href="/product" >
          Products      </a>
       
       </li>
        
            
            
       <li class="nav-item ">
        <a class="nav-link " href="/prize" >
     Prize   </a>
      
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/how-to-win" >
    How to win   </a>
      
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/winner-list" >
    Winner List  </a>
      
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/check-status" >
   Check Status </a>
      
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/terms-and-conditions" >
   Terms and Conditions </a>
      
      </li>

                    
             
       
       
            
         <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            
            
         </ul>
              </div>  
                   
                   <button class="navbar-toggler menu-toggle tm border-0"><span class="fal fa-bars">&nbsp;</span></button>
                   
       </div>
    </nav> 
  
     
 </header>