<section class=" section-40">
    <div class="container">
        <div class="row  shadow p-3 mb-5 bg-white rounded mt-4" >
            <div class="col-md-8 col-lg-8 mx-auto para-desc d-block ">
    <div class="user-details-page-description text-md-left ">
        <h3>Payment Mode</h3>
        <a class="btn btn-danger btn-sm ml-3 mb-2 text-white "onclick="myFunction()"  >Payment option</a>
    
        <div id="mydivcontainer"style="display:none" >
         <section id="stores1-carousel-483335814" class="block-cat-store block-stores1 bg-light section-top-40 ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="clearfix"></div>
                <div class=" mb-4 justify-content-between ">
          <div>
            <h4 class="font-weight-bold mb-0 font- text-dark font-weight-bold text-center ">Payment Options</h4>
            <p class=" mb-5 font- text-dark text-center">Please select one of the below payment option</p>
          </div>
         
        </div>
                <div  class="owl-carousel owl-theme"> 
		
        
        
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure> <a href="https://play.google.com/store/apps/details?id=net.one97.paytm&hl=en_IN">
          
          <img src="https://www.onlineshopwinner.com/images/pay-1.jpg" class="img-fluid" alt="Store Name 3">
            <div class="read_more"><span>view</span></div>
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
           Paytm         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure> <a href="https://play.google.com/store/apps/details?id=net.one97.paytm&hl=en_IN">
          
          <img src="https://www.onlineshopwinner.com/images/pay-2.jpg" class="img-fluid" alt="Store Name 2">
            <div class="read_more"><span>view</span></div>
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Phone Pay         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure> <a href="https://play.google.com/store/apps/details?id=net.one97.paytm&hl=en_IN">
          
          <img src="https://www.onlineshopwinner.com/images/pay-3.jpg" class="img-fluid" alt="Store Name 1">
            <div class="read_more"><span>view</span></div>
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
        Google Pay         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure> <a href="https://play.google.com/store/apps/details?id=net.one97.paytm&hl=en_IN">
          
          <img src="https://www.onlineshopwinner.com/images/pay-4.jpg" class="img-fluid" alt="Store Name 4">
            <div class="read_more"><span>view</span></div>
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Bhim upi         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure> <a href="https://play.google.com/store/apps/details?id=net.one97.paytm&hl=en_IN">
          
          <img src="/assets/wp-includes/images/pay4.png" class="img-fluid" alt="Store Name 5">
            <div class="read_more"><span>view</span></div>
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Pay Pal        </div>
        </div>
                
  
         
                
        </div>
      </div>
    </div>
  </div>
</section>

          </div>

          <script>
              function myFunction() {
  var x = document.getElementById("mydivcontainer");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
          </script>


    </div>
    </div>
    </div>
    </div>
 </section>
 <section class="section-40 shadow p-3 mb-5 bg-white rounded mt-4">
 <div class="col-md-6 mx-auto">
    <div class="row no-gutters">
                <div class="col-md-6">
          <div class="card rounded-0 py-md-4 mb-md-0 border-0" style=" border-bottom: 1px solid rgba(120, 130, 140, 0.13) !important; border-right: 1px solid rgba(120, 130, 140, 0.13) !important;">
       
             
             <div class="card-body bg-light mr-3">
            
                <div class="row">
                   <div class="col-3 text-center">
                     
                                              <i class="fas fa-layer-group text-primary  fa-3x mb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                          
                  
                   </div>
                   <div class="col-9">
                   
<h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
    Helpline <br>No:</h5>
<p class="text-dark opacity-5 pb-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">7044404483</p>
                   
                   
                   </div>
                </div>
             </div>
           
             
          </div>
       </div>
                <div class="col-md-6">
          <div class="card rounded-0 py-md-4 mb-md-0 border-0" style=" border-bottom: 1px solid rgba(120, 130, 140, 0.13) !important; ">
         
             
             <div class="card-body bg-light ml-3">
            
                <div class="row">
                   <div class="col-3 text-center">
                     
                                              <i class="fas fa-tachometer-alt text-primary  fa-3x mb-4 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                          
                  
                   </div>
                   <div class="col-9">
                   
<h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
    Customer Support No:</h5>
<p class="text-dark opacity-5 pb-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">7044404483</p>
                   
                   
                   </div>
                </div>
             </div>
           
             
          </div>
       </div>
             
        
                
        
       
    </div>
 </div>
 <div class="col-lg-2 mx-auto text-center section-40" >
    <img data-src="/assets/wp-includes/images/arrow.gif" 
    class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp loaded" 
    alt="Welcome to &nbsp; AuctionHouse" data-wow-delay="0.8s"
     style="visibility: visible; animation-delay: 0.8s;" 
     src="/assets/wp-includes/images/arrow.gif" data-was-processed="true">
 </div>  
 <div class="col-lg-5 mx-auto  text-center section-40">
			
    <a href="/winner-cash" class="btn rounded-0 font- btn-xl btn-danger text-light mt-0 mr-5  wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
	
        
     cash process
            
        </a>
        <a href="/car-prize" class="btn rounded-0 font- btn-xl btn-success text-light mt-0   wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
	
        
            Car process  
                
            </a>
     
    
    </div>     
    <div class="col-md-6 pl-xl-5 text-lg-right text-center rounded mt-4 para-desc mx-auto d-block section-40">
                    
        <div class="text-center text-md-left">
        
        <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">Our Terms & Conditions</h2>
        
                    <h3 class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">
                       इनाम लेने के लिए सारी नियम एवं शर्तें मान्य होगी</h3> 
                    
                    
        <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>ईनाम का पुरा नगद सीधे आपके बैंक खाते मे जायेगा। * सारे सरकारी कर और प्रक्रिया शुल्क ग्राहक (विजेता) को ही देना पड़ेगा। * सारे शुल्क विजेता से अग्रिम में एकत्रित किया जाएगा और किसी भी हालत में ऐ ईनाम की राशि के साथ एडजस्ट नहीं किया जाएगा। * परिणाम का निर्णय अंतिम एवं गैर विवादित होगा</p> 
        <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
            इनामी राशि में कोई भी कटौती नहीं की जाएगी</p> 
            <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                इनाम के लिए जो भी फीस या टैक्स लगेगा वो वापस नहीं होगा</p> 
                <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                    इनाम आपकी इच्छा अनुसार नहीं बदल सकते</p> 
                    <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                        इस प्रतियोगिता में कंपनी का कोई भी सदस्य भाग नहीं ले सकते हैं , ना ही मदद कर सकते हैं</p> 
                        <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                            इनाम में अगर कोई फीस या टैक्स लगता है तो वो विजेता को ही देना पड़ेगा</p> 
                            <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                अगर किसी कारण वश विजेता इनाम इनाम को रद्द करवाते हैं तो विजेता का जमा राशि २१ दिन के अंदर दिया जायेगा</p> 
                                <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                    अगर पैसा जमा करवाने के बाद इनाम नहीं मिलता है तो उसका जिम्मेदार कंपनी होगा</p> 
                                    <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                        कोई भी वाद विवाद न्यायालय में किया जायेगा</p> 
                                        <h3 class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp mt-5" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">
                                            Rule of payment:</h3> 
                                            <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                                The full cash deposit will go directly to your bank account.</p> 
                                                <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                                    All government taxes and procedures will be paid to the customer (winner).</p> 
                                                    <p class="line-height-10 mb-2 font- text-opacity-5 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> <i class="fa fa-info-circle mr-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i>
                                                        All fees will be collected from the winner in advance and will not be adjusted with the amount of prize in any condition.</p> 
        
        </div>         
        
                
      </div>
 </section>
 <section class="position-relative mt-1 block-cat-text block-text8 bg-lightgrey section-40 ">
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-12 text-center text-lg-center mx-auto">
          <h2 class="mb-0 pb-0 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
            <p>18001024622 &nbsp; 7044404483</p>    </h2>
        </div>
       
      </div>
    </div>
  </section>